@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-style: italic;

}


.first-row-color {
    background-color: #F8F8F8; /* Light blue */
    color: black;
  }
  
  .second-row-color {
    background-color: #C1E8FF; /* Light orange */
    color: black;
  }
  
  