/* src/components/OverviewChart.css */
.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
  }
  
  @media (max-width: 768px) {
    .chart-container {
      flex-direction: column;
      padding: 5px;
    }
  }
  