/* Assuming your CSS file is named viewproducts.css */

.container {
    width: 90%;
    margin: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th, .table td {
    padding: 10px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
  }
  
  .table tbody tr:hover {
    background-color: #f5f5f5;
  }
  
  .edit-button, .delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #007bff;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
  }
  
  .edit-button:hover, .delete-button:hover {
    color: #0056b3;
  }
  
  .edit-button .fa, .delete-button .fa {
    margin-right: 5px;
  }
  